.demo-form {
	background-color: $color-white;
	padding: rem(3);
	display: flex;
	flex-direction: column;
	gap: rem(3);
	border-radius: 0 0 rem(1) rem(1);
	box-shadow: 0px 4px 17px 0px rgba(129, 139, 197, 0.24);
	@media (min-width: $from-small) {
		border-radius: rem(1);
		width: rem(25);
	}
	.form__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			font-weight: 600;
			font-size: rem(1.2);
		}
	}
	svg {
		width: rem(2.5);
	}
	#mc_embed_shell {
		#mc_embed_signup {
			form {
				#mc_embed_signup_scroll {
					display: flex;
					flex-direction: column;
					gap: rem(2.5);
					align-items: flex-start;
					width: 100%;
					.mc-field-group {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: rem(1);
						width: 100%;
						label {
							color: $color-grey-darker;
							border-left: 2px solid $color-primary;
							padding-left: rem(1);
							line-height: rem(1.5);
							font-weight: 500;
						}
						input {
							background-color: $color-blue-lighter;
							border: 1px solid $color-blue-ice;
							border-radius: 5px;
							padding: rem(1);
							width: 100%;
							&:focus {
								border: 1px solid $color-primary;
							}
						}
						.btn {
							padding: rem(1) rem(2.5);
						}
					}
				}
			}
		}
	}
}
