section.logo_grid {
	margin-top: 0;
	.container-xs {
		hr {
			border: 0.5px solid $color-grey;
		}
		p {
			margin-top: unset;
		}
		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-gap: 2rem;
			justify-items: center;

			margin-bottom: rem(4);
			margin-top: rem(3);

			@media (min-width: $from-small) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: 1fr;
			}
			img {
				width: 80%;
				height: 80%;
				object-fit: contain;
				&:nth-child(2) {
					width: 60%;
				}
			}
		}
	}
}
