section {
	.container {
		.staggered-container {
			display: flex;
			flex-direction: column;

			margin: rem(12) 0 rem(6);

			gap: rem(2);

			@media (min-width: $from-small) {
				gap: rem(24);
			}
			.staggered-row {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				&.reverse {
					flex-direction: column;
				}
				@media (min-width: $from-small) {
					flex-direction: row;

					&.reverse {
						flex-direction: row-reverse;
					}
				}
				.staggered-col {
					width: 100%;
					@media (min-width: $from-small) {
						width: 40%;
					}
					h4 {
						font-size: rem(1.8);
						font-weight: 500;
						width: 100%;
						@media (min-width: $from-small) {
							font-size: rem(1.5);
							width: 80%;
						}
					}
					p {
						text-align: left;
					}
				}
				.Placeholder {
					width: 50%;
					aspect-ratio: 1/1;
				}
				img {
					margin: rem(5) 0;
				}
			}
		}
	}
}
