section {
	.container {
		.canvas-container {
			.Placeholder {
				aspect-ratio: 16/14;
				margin: rem(5) 0 rem(10);
			}
			img {
				margin-top: rem(5);
				margin-bottom: rem(5);
				width: 100%;
				height: auto;
			}
		}
		.demo-container {
			.demo-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: stretch;
				width: 100%;
				@media (min-width: $from-small) {
					flex-direction: row;
					align-items: center;
				}
				> div {
					&:first-of-type {
						width: 100%;
						> div {
							background-color: $color-blue-ice;
							padding: rem(3);
							border-radius: rem(2) rem(2) 0 0;
							@media (min-width: $from-small) {
								padding: rem(6) rem(5);
								border-radius: rem(2) 0 0 rem(2);
							}
							h2 {
								text-align: left;
								margin: unset;
								margin-bottom: rem(2);
							}
							p {
								text-align: left;
								margin: unset;
								width: 100%;
								@media (min-width: $from-small) {
									width: 90%;
								}
							}
						}
					}
				}
			}
		}
	}
}
