.btn-primary {
	color: $color-white;
	background: $color-primary;
	font-weight: 400;
	padding: rem(0.8) rem(3);
	border-radius: 8px;
	@media (min-width: $from-mini) {
		padding: rem(1) rem(4);
	}
}
.btn-secondary {
	color: $color-white;
	background: $color-grey-darker;
	font-weight: 400;
	padding: rem(0.5) rem(1);
	border-radius: 8px;
	font-size: rem(1);
	text-align: center;
	line-height: rem(2);
	&:hover {
		background: darken($color-grey-darker, 10%);
	}
	@media (min-width: $from-mini) {
		padding: rem(1.2) rem(3);
		font-size: rem(1.2);
	}
	@media (min-width: $from-tiny) {
		padding: rem(0.8) rem(4);
		font-size: rem(1.4);
	}
	@media (min-width: $from-small) {
		font-size: rem(1.2);
	}
}

.github-btn {
	display: flex;
	justify-content: center;
	margin-top: rem(5);
}
