@font-face {
	font-family: 'Requila';
	src: url('../../fonts/Requila.woff') format(' woff');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Satoshi';
	src: url('../../fonts/Satoshi-Regular.woff') format('woff');
	src: url('../../fonts/Satoshi-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');