@font-face {
	font-family: 'Requila';
	src: url('../../fonts/Requila.woff') format('woff'); /* Modern Browsers */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
